<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>483135269546-iccq64lub140d2s67gg3rnatkue59s1n.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.483135269546-iccq64lub140d2s67gg3rnatkue59s1n</string>
	<key>API_KEY</key>
	<string>AIzaSyCA-1rMWPGvfYzHRQwpHSSDRSOuIQCVcyQ</string>
	<key>GCM_SENDER_ID</key>
	<string>483135269546</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.gestaodomiciliar</string>
	<key>PROJECT_ID</key>
	<string>hotelmanagament-c135c</string>
	<key>STORAGE_BUCKET</key>
	<string>hotelmanagament-c135c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:483135269546:ios:03b36cf949ea72276dbed3</string>
	<key>DATABASE_URL</key>
	<string>https://hotelmanagament-c135c-default-rtdb.firebaseio.com</string>
</dict>
</plist>